config.py
.idea
./.idea
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.pyc

.img
.json
/static/book/books_1694074281.json
/static/book/books_1694074463.json
/static/book/books_1694074702.json
/static/book/books_1694074715.json
/static/book/books_1694075280.json
/static/book/books_1694075289.json
/static/avatar/user_1_1693895910.jpg
/static/avatar/user_1_1694141039.jpg
/static/avatar/user_1_1694144122.jpg
/static/avatar/user_1_1694144154.png
/static/avatar/user_1_1694144175.png
/static/avatar/user_1_1694144257.png
/static/avatar/user_1_1694144510.jpg
/static/avatar/user_1_1694145015.jpg
/static/avatar/user_1_1694145103.jpg
__pycache__

similarity_matrix.pkl
 routes/__pycache__
/static/avatar/user_8_1694424572.jpg
/static/avatar/*
